body {
    margin: 0;
    padding: 0;
    background-image: url("/Images/equipment2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.btn {  

    color: #111;
    font-weight:600;
    font-family: Arial;
    background-color: white;
}

#navbarNav .navbar-nav .nav-item a {
    color: #808080;
}

#navbarNav .navbar-nav .nav-item.blue a:hover, #navbarNav .navbar-nav .nav-item.blue a:focus, .blue {
    color: #456792;
}
#navbarNav .navbar-nav .nav-item.green a:hover, #navbarNav .navbar-nav .nav-item.green a:focus, .green {
    color: #338683;
}

#navbarNav .navbar-nav .nav-item.purple a:hover, #navbarNav .navbar-nav .nav-item.purple a:focus, .purple {
    color: #a166d0;
}

#navbarNav .navbar-nav .nav-item.yellow a:hover, #navbarNav .navbar-nav .nav-item.yellow a:focus, .yellow {
    color: #cda73c;
}

#navbarNav .navbar-nav .nav-item.red a:hover, #navbarNav .navbar-nav .nav-item.red a:focus, .red {
    color: #e7683f;
}


h1, h2, p, ul, li {
    font-family: sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
}

.header {
    background-color: #111;
    padding: 0;
}

ul li a {
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    background-color: #FFF;
    padding: 20px;
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #111;
}